<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Проект</title>

    <link rel="icon" href="/Icon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="shortcut icon" href="/Icon.ico" type="image/x-icon" asp-append-version="true">

    <link rel="stylesheet" href="~/aos/aos.css" asp-append-version="true" />

    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web2.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/Windows.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

    <script src="~/scripts/modal2.js" asp-append-version="true"></script>
</head>

<body>
    <header>
        <nav class="headM navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div style="flex: 50">
                <a class="bt-ur2" asp-area="" asp-page="/Index">
                    <i class="fas fa-home"></i>
                    <span class="site-name d-none d-md-inline">Главная</span>
                </a>
                <div class="dropdown">
                    <a class="bt-ur2" asp-area="" asp-page="/Database/DB">
                    <i class="fas fa-database"></i>
                    <span class="site-name d-none d-md-inline">База данных</span>
                    </a>
                    <div class="dropdown-content">
                        <a class="bt-ur2" asp-area="" asp-page="/Database/Patients/Patients">Архив пациентов</a>
                        <a class="bt-ur2" asp-area="" asp-page="/Database/Analyzes/Analyzes">Анализы</a>
                        <a class="bt-ur2" asp-area="" asp-page="/Database/Examinations/Examinations">Результаты диспансеризации</a>
                    </div>
                </div>

                    <div class="dropdown">
                <a class="bt-ur2" asp-area="" asp-page="">
                    <i class="fas fa-chart-bar"></i>
                    <span class="site-name d-none d-md-inline">Анализ</span>
                </a>
                        <div class="dropdown-content">
                            <a class="bt-ur2" asp-area="" asp-page="/Processing/Test">Диагностика паталогий 🐍</a>
                            <a class="bt-ur2" asp-area="" asp-page="/Processing/Chart">Графики</a>
                        </div>
                    </div>

                    <a class="bt-ur2" asp-area="" asp-page="/Processing/Excel">
                        <i class="fas fa-file-excel"></i>
                        <span class="site-name d-none d-md-inline">Excel</span>
                    </a>

                <button id="select" class="c-button" onclick="darkLight()">Включить тёмную тему</button>
                </div>

                <div>
                    <button class="c-button" onclick="document.location='/Account/Log'">Личный кабинет</button>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="amdaven" style="z-index:3;"></i>
        <i class="fas fa-times" id="lodesan" style="z-index:3;"></i>
    </label>
    <div class="navega_sunka">
        <header>Навигация</header>
        <a href="/Index" class="gesopamda">
            <i class="fas fa-home"></i>
            <span class="sp">Главная</span>
        </a>
        <a href="/Database/DB" class="gesopamda">
            <i class="fas fa-database"></i>
            <span class="sp">База данных</span>
        </a>
        <a href="/Processing/Chart" class="gesopamda">
            <i class="fas fa-chart-bar"></i>
            <span class="sp">Анализ</span>
        </a>
        <a href="/Help" class="gesopamda">
            <i class="fas fa-book"></i>
            <span class="sp">Справка</span>
        </a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal show" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="background:var(--light); border: 1px solid #dcdcff;">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <span class="itc-modal-btn-close" title="Закрыть" onclick="closeModal()">x</span>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - ASU
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/scripts/dark.js" asp-append-version="true"></script>
    <script src="~/aos/aos.js"></script>

    <script>
        AOS.init();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>