@page
@model Web2.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

@{
    if (ViewData["Message"] != null)
    {
        <div>
            @ViewData["Message"]
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/Windows.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
</head>


<body>

    <div class="parent">
        <div class="auth_dialog_header">
            <span class="auth_dialog_title">
                <span class="auth_dialog_title_second">
                    Личный кабинет
                </span>
                <span class="auth_dialog_title_third">
                    сотрудника
                </span>
            </span>
        </div>
    <div class="block">
    <form asp-page-handler="ForgotPassword" method="post" class="form-horizontal">
                <fieldset class="fieldsetA">
                    <h2>@ViewData["Title"]</h2>
                    <legend class="legentA">Введите email</legend>
    <div asp-validation-summary="All" class="text-danger"></div>
        <div>
        <label name="Email" class="col-md-2 control-label"></label>
            <div style="padding: 2px;" class="divA">
            <input name="Email" class="inputA" />
        </div>

            <div style="padding: 5px;" class="col-md-offset-2 divA">
            <button type="submit" class="inputA c-button">Отправить</button>
        </div>
    </div>

                </fieldset>
            </form>
</div>
</div>
</body>