@page
@model Web2.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль сброшен. Для входа в приложение перейдите по <a href="/Account/Log">ссылке</a>.
</p>

