@page
@model Web2.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<h2>@ViewData["Title"]</h2>
<h4>Введите пароль.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input name="code" asp-for="mod.Code" type="hidden"/>
            <div class="form-group">
                <label asp-for="mod.Email"></label>
                <input name="Email" asp-for="mod.Email" class="form-control" />
                <span asp-validation-for="mod.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Пароль </label>
                <input name="Password" asp-for="mod.Password" class="form-control" />
                <span asp-validation-for="mod.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label> Повторите пароль </label>
                <input name="ConfirmPassword" asp-for="mod.ConfirmPassword" class="form-control" />
                <span asp-validation-for="mod.ConfirmPassword" class="text-danger"></span>
            </div>
            <button style="margin: 10px 0 0 0;" type="submit" class="btn btn-primary">Сбросить</button>
        </form>
    </div>
</div>
