@page
@model Web2.Pages.Admin.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h1>Добавление</h1>

<h4>Пользователи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
            <div class="form-group">
                <label>Доступ</label>
                <select asp-for="Input.Role" asp-items="Model.GetRole()" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label>Логин</label>
                    <input asp-for="Input.Login" class="form-control" />
                    <span asp-validation-for="Input.Login" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input asp-for="Input.Surname" class="form-control" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <input type="tel" asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </p>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./AdminPanel" >Назад</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}