@page
@model Web2.Pages.DBModel

@{
    ViewData["Title"] = "База данных";
}

<head>
    <link rel="stylesheet" href="~/css/Block.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <script src="~/scripts/modal.js" asp-append-version="true"></script>
</head>

<body>

    <div  class="text-center">
    <div class="mr-auto">
        <div class="page-context-header">
            <div class="page-header-headings">
            <h1>Интерфейс</h1>
            </div>
        </div>
    <hr align="center" size="5" />
    </div>           
</div>

    <div class="text-center" style="background: #03938391 !important; padding: 20px; border: 1px solid #dcdcff; border-radius: 20px; ">
        <label class="form-label" style="font-size: 25px;" >Выберите таблицу</label>

                    <div class="post-wrap">
                        <div class="post-item">
                            <div class="post-item-wrap">
                                    <a href="/Database/Patients/Patients" class="post-link">
                                    <h3 class="post-title">Архив пациентов</h3>
                                    <p class="post-content"></p>
                                    </a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                    <a href="/Database/Analyzes/Analyzes" class="post-link">
                                    <h3 class="post-title">Анализы</h3>
                                    <p class="post-content"></p>
                                    </a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                    <a href="/Database/Examinations/Examinations" class="post-link">
                                    <h3 class="post-title">Результаты диспансеризации</h3>
                                    <p class="post-content"></p>
                                    </a>
                            </div>
                        </div>
        </div>

            <button type="submit" class="g-button file" id="btnExport" value="Шаблон">
                <i class="fa fa-download">
                    <span>Шаблон</span>
                </i>
            </button>

        <a href="~/Database.xlsx" download style="display: none;" id="down"></a>

     </div>

    @section scripts{

        <script>

            const modal = new ItcModal({
                title: 'Загрузка',
                content: '<h4>Продолжить скачивание?</h4>',
                footerButtons: [
                    { class: 'btn btn-primary', text: 'ОК', action: 'ok' },
                    { class: 'btn btn-danger', text: 'Отмена', action: 'cancel' }
                ]
            });
                
                    document.addEventListener('click', function(e) {

                            if (e.target.closest('[id="btnExport"]')) {
                                modal.show();
                                e.preventDefault();
                            }

                            if (e.target.closest('[data-action="ok"]')) {
                                
                                var element = document.getElementById('down');

                                element.click();

                                modal.hide();
                            }

                            if (e.target.closest('[data-action="cancel"]')) {
                                modal.hide();
                            }
                            
                    }, false);
        </script>
    }

</body>