@page
@model Web2.Pages.Database.Patients.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h1>Добавление</h1>

<h4>Пациенты</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
            <div class="form-group">
                <label>Группа</label>
                <select asp-for="Archive.id_group" asp-items="Model.GetGroup()"  class="form-control">
                    </select>
                <span asp-validation-for="Archive.id_group" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input asp-for="Patient.surname" class="form-control"/>
                    <span asp-validation-for="Patient.surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input asp-for="Patient.name" class="form-control"/>
                    <span asp-validation-for="Patient.name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Отчество</label>
                    <input asp-for="Patient.patronymic" class="form-control"/>
                    <span asp-validation-for="Patient.patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Дата рождения</label>
                    <input asp-for="Patient.birthday" class="form-control" type="date" id="birthday" min="1925-01-01" max=""/>
                    <span asp-validation-for="Patient.birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <input asp-for="Patient.phone_num" class="form-control" />
                    <span asp-validation-for="Patient.phone_num" class="text-danger"></span>
                </div>
            </p>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Patients" asp-route-group="0" >Назад</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>

        const options = {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
        }

        const date = new Date()
        const tomorrow = date.toLocaleString("ru", options).split('.').reverse().join('-')
        document.getElementById("birthday").setAttribute("max", tomorrow)
    </script>
}