@page
@model Web2.Pages.Database.Patients.EditModel

@{
    Layout = null;
}

@{
	ViewData["Title"] = "Edit";
}

<body>

<h1>Редактирование</h1>

<h4>Пациент</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-page-handler="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.id_patient" />
                <div class="form-group">
                    <label>Группа</label>
                    <select asp-for="Archive.id_group" asp-items="Model.GetGroup()" class="form-control">
                    </select>
                    <span asp-validation-for="Archive.id_group" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input asp-for="Patient.surname" class="form-control" />
                    <span asp-validation-for="Patient.surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input asp-for="Patient.name" class="form-control" />
                    <span asp-validation-for="Patient.name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Отчество</label>
                    <input asp-for="Patient.patronymic" class="form-control" />
                    <span asp-validation-for="Patient.patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Дата рождения</label>
                    <input type="date" value="@Model.Patient.birthday.ToString("yyyy-MM-dd")" asp-for="Patient.birthday" class="form-control" id="day" min="1925-01-01" max="" />
                    <span asp-validation-for="Patient.birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <input type="tel" asp-for="Patient.phone_num" class="form-control" />
                    <span asp-validation-for="Patient.phone_num" class="text-danger"></span>
                </div>
            <p>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

</body>