@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время обработки Вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    При переходе в среду <strong>Разработки</strong> отображается подробная информация о произошедшей ошибке.
</p>
<p>
    <strong>Среду разработки не следует включать для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
    Для локальной отладки включите среду <strong>Разработки</strong>, задав для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Разработка</strong>
    и перезапустив приложение.
</p>
