@page
@model Web2.Pages.Index1Model
@{
	ViewData["Title"] = "Домашняя страница";
}

<head>
    <link rel="stylesheet" href="~/css/News.css" asp-append-version="true" />
</head>

<body>

    <div data-aos="fade-up-left" style="padding: 24px 0; width: auto;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner car">
            <div style="height: 500px;" class="carousel-item active">
                <div class="numbertext">1 / 3</div>
                <img style="height: 100%!important;" class="d-block w-100" src=~/image/Im_4.jpg alt="Первый слайд" asp-append-version="true">
            </div>
            <div style="height: 500px;" class="carousel-item">
                <div class="numbertext">2 / 3</div>
                <img style="height: 100%!important;" class="d-block w-100" src=~/image/Im_5.jpg alt="Второй слайд" asp-append-version="true">
            </div>
            <div style ="height: 500px;" class="carousel-item">
                <div class="numbertext">3 / 3</div>
                <img style="height: 100%!important;" class="d-block w-100" src=~/image/Im_2.jpg alt="Третий слайд" asp-append-version="true">
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="nextCr" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div data-aos ="fade-up-left" style="border-radius: 10px; background: var(--light);" class="l-wide actual">
        <div class="l-inner actual-block">
            <ul class="actual-list">
                <li class="actual-list-item actual-list-item__simple">
                    <a class="fas fa-arrow-right actual-list-item-link" href="/Help">
                        Сведения об веб-сайте
                    </a>
                </li>
                <li class="actual-list-item actual-list-item__simple">
                    <a class="fas fa-arrow-right actual-list-item-link" href="#">
                        Задай вопрос администрации
                    </a>
                </li>
                <li class="actual-list-item actual-list-item__simple">
					<a class="fas fa-arrow-right actual-list-item-link" href="/Database/DB">
                        Доступ к базе данных
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Новости -->
    <div data-aos="fade-up-left" style="background: var(--light); border-radius: 10px; padding: 24px 10px; margin: 40px 0;">
        <i class="fas fa-newspaper fa-2x"></i>
        <h2>Новости сайта</h2>
    <div  class="post-wrap">

            <div class="post-item">
                <div class="item-content">
                    <div class="fas fa-question"></div>
                    <div class="item-body">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="item-footer">
                        <a href="#" class="link"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>

            <div class="post-item">
                <div class="item-content">
                    <div class="fas fa-question"></div>
                    <div class="item-body">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="item-footer">
                        <a href="#" class="link"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>

            <div class="post-item">
                <div class="item-content">
                    <div class="fas fa-question"></div>
                    <div class="item-body">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="item-footer">
                        <a href="#" class="link"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>

            <div class="post-item">
                <div class="item-content">
                    <div class="fas fa-question"></div>
                    <div class="item-body">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="item-footer">
                        <a href="#" class="link"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>

            <div class="post-item">
                <div class="item-content">
                    <div class="fas fa-question"></div>
                    <div class="item-body">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="item-footer">
                        <a href="#" class="link"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>

        <div class="post-item">
            <div class="item-content">
                    <div class="fas fa-question"></div>
                <div class="item-body">
                    <h3></h3>
                    <p></p>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>
    </div>
    </div>

     @section scripts{

    <script>
        $(function () {
            $('#carouselExampleControls').carousel({
                interval: 10000,
                keyboard: false,
                pause: 'hover',
                ride: 'carousel',
                wrap: true
            });
        });

    </script>
     }
</body>